<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    sec:authorize="isAuthenticated()"-->
</head>
<body >
<div th:fragment="navbar" class="navigation" >

    <ul>
        <a class="profile-name" th:href="@{/index}"><h3 class="site-name">Car Maintenance</h3></a>

        <div class="small-space-dashboard">

        </div>
        <li  class="home" th:class="${activePage == 'index' ? 'active' : ''}">
            <a th:href="@{/index}">Home</a>
<!--            class="current"-->
        </li>
        <li class="garage" th:class="${activePage == 'cars' ? 'active' : ''}">
            <a th:href="@{/cars}">My Garage</a>
        </li>
        <li class="community" th:class="${activePage == 'community' ? 'active' : ''}">
            <a th:href="@{/community}">Community</a>
        </li>
        <li class="maintenance" th:class="${activePage == 'maintenance' ? 'active' : ''}">
            <a th:href="@{/maintenance}">Maintenance</a>
        </li>
        <li class="fuel" th:class="${activePage == 'fuel-tracker' ? 'active' : ''}">
            <a th:href="@{/fuel-tracker}">Fuel Tracker</a>
        </li>

        <div class="space-dashboard">

        </div>

        <hr class="dashboard-line1">


        <div class="profile-small">
            <div class="profile-image-corner">
                <img class="profile-img-small" th:src="@{/images/TeodorPchelinski.jpg}">
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a class="profile-name"  th:href="@{/account}" >
<!--                    <span th:block sec:authentication="name" >Default</span>-->
                    <span>Default user</span>
                </a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a id="usename" name="username" class="profile-name"  th:href="@{/account}" >
                <span><th:block th:text="${username}">User</th:block></span>
<!--                <span><th:block th:text="${userEntity.getFirstName()}" ></th:block></span>-->
                </a>
            </div>


        </div>


        <li class="logout-container" th:block sec:authorize="isAuthenticated()">
            <div>
                <form th:method="post"
                th:action="@{/users/logout}">
                    <input type="submit" class="logout-dash" id="little-dashboard" value="Logout" />
                </form>
            </div>
        </li>
        <li class="login" th:block sec:authorize="!isAuthenticated()">
            <a class="logout-dash" id="little-dashboard" th:href="@{/users/login}">Login</a>
        </li>
        <li class="register" th:block sec:authorize="!isAuthenticated()">
            <a class="logout-dash" id="little-dashboard" th:href="@{/users/register}">Register</a>
        </li>

    </ul>
</div>
</body>