body {
    /*Original color*/
    /*background-color: #00AEFF;*/
    background-color: #45beff;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;


    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    /*align-items: inherit;*/
    /*justify-content: space-evenly;*/
    flex-direction: row;
    height: 100%;
}

div {
    /*resize: vertical;*/
    /*overflow: auto;*/
}

ul {
    display: block;
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 0;
    width: 15rem;
    height: 100%;
    /*height: 30rem;*/
    /*height: 15rem;*/
    /*background-color: #282828;*/
    /*background-color: #00AEFF;*/
}

ul, body {
    /*      #80D7FF   accent color*/
    /* Dashboard and frame color */
    /*background-color: #282828;*/
}


.current-page {
    margin-top: 10px;
    padding-right: 80rem;
    margin-bottom: 0;
    /*margin-left: 10px;*/
    /*background-color: #dda0f1;*/
    color: #f1f9ff;
    display: contents;
    position: fixed;
    align-items: normal;
    flex-direction: row;
    border-radius: 19px;
    width: 100%;
    height: 100%;
    z-index: 0;
    /*height: 20rem;*/
}


.site-name {
    color: #FFFFFF;
    padding-top: 1rem;
    padding-left: 1.5rem;
    /*margin-left: 16px;*/
    margin-right: 0;
    margin-top: 0;
    height: 3.125rem;
    position: center;
}


li a {
    display: block;
    color: #f1f9ff;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    text-decoration: none;
    width: 11rem;
}


li a:hover {
    border-radius: 0.5rem;
    background-color: #555;
    color: #FFFFFF;
}


.ul li:active a{
    color: #007bff; /* Change to your active color */
    background-color: #234465;
}


input {
    display: block;
    color: #f1f9ff;
    background-color: #282828;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    text-decoration: none;
    width: 11rem;
}

input:hover{
    border-radius: 0.5rem;
    background-color: #555;
    color: #FFFFFF;
}

.active {
    background-color: #a0bad5;
    color: #FFFFFF;
}

.current {
    border-radius: 0.5rem;
    background-color: #555;
    color: #FFFFFF;

}

#little-dashboard{
    display: block;
    color: #f1f9ff;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    text-decoration: none;
    width: 5rem;
}


.navigation {
    /*padding-top: 12px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    /*width: 25vh;*/
    position: fixed;
    z-index: 1;
    margin-right: 1.25rem;
    padding: 0.75rem 1.25rem 7rem 0;
    width: 14rem;
    /*margin-bottom: 50rem;*/
    background-color: #282828;
    height: auto;
    /*height: 56.175rem;*/


}

.section1, .section2, .section3, .section4{
    /*here changed*/
    display: block;
    margin-top: 0.3125rem;
    margin-bottom: 1rem;
    /*padding: 0.625rem;*/
    /*background-color: #80D7FF;*/
    /*width: 45vh;*/
    /*width: 300px;*/
    /*max-width: 29.375rem;*/
    height: auto;
    width: 25.3rem;
    align-items: inherit;

}

.section1 {
    /*background-color: #6dbbe1;*/
    margin-left: 16rem;
}

.label-container {
    max-width: 40rem;
}

.window {
    display: block;
    /*margin-top: 20px;*/
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.625rem;
    position: relative;

    /*width: 285px;*/
    width: 22.8rem;
    height: 15.8rem;
    border: 1px solid #ecebeb;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.window-label {
    color: #333333;
    font-size: 1.25rem;
    padding: 10px;
}

#window-small {
    background-color: #FFFFFF;
    /*height: 150px;*/
    height: 9.75rem;
    padding-bottom: 1rem;
    /*width: 285px;*/
    /*width: 40vh;*/
    width: 22.8rem;
}

#window-smaller {
    background-color: #FFFFFF;
    height: 6.7rem;
    width: 22.8rem;
}

#window-mid {
    height: 16.5125rem;
}

#big-window {
    height: 22.8rem;
}

#refuel-window {
    height: 28.1rem;
}

#group-windows-container {
    display: inline-flex;
    height: 12.9rem;
    width: 50.3rem;
}

.register-container {
    display: inline-block;
    max-height: 28.1rem;
    flex-direction: row;
    align-items: center;

}

#register-window {
    display: block;
    margin-top: 10rem;
    margin-left: 35rem;
    height: 28.1rem;
    border-radius: 14px 0 0 14px;
}

#login-form {
    margin-top: 7rem;
}

#register-image-container {
    margin-top: 10rem;
    height: 29.5rem;
    width: 29.5rem;
    display: inline-block;
    line-height: 29.5rem;
}

.register-image {
    border-radius: 0 14px 14px 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}


.field {
    margin-top: 15px;
    margin-left: 1rem;
    /*border: 1px solid #c7c7c7;*/
    /*box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);*/
    /*border-radius: 3px;*/
    height: 2.375rem;
    width: 13.5rem;
    position: relative;
}


#field-search {
    width: 30rem;
}

.field input {
    color: #565656;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    width: 12rem;
}
#part-name {
    font-size: 1rem;
}

.field select {
    font-size: 1rem;
    font-weight: normal;
    color: #424242;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    border-radius: 6px;
    width: 13.5rem;
    -webkit-appearance: none;
}

#quantity {
    width: 2.5rem;
}

.field-small select {
    font-size: 1rem;
    font-weight: normal;
    color: #424242;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    width: 1.1rem;
}

.field option {
}

#field-search {
    width: 35rem;
}


 /*Cost small input*/
.field-small {
    margin-top: 15px;
    margin-left: 0;
    /*border: 1px solid #c7c7c7;*/
    /*box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);*/
    /*border-radius: 3px;*/
    height: 2.375rem;
    /*be careful here*/
    width: 6.5rem;
    position: relative;
}

.field-small input {
    color: #565656;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    width: 5rem;
    margin-right: 0;
}


.field-small select {
    font-size: 1rem;
    font-weight: normal;
    color: #424242;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    width: 12.1rem;
}

.field-smallest {
    width: 5rem;
    margin-left: 0;
    margin-right: 0;
}

.field-smallest select {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: normal;
    color: #424242;
    background: none;
    padding: 0.625rem;
    border: 2px solid #ecebeb;
    /*border-radius: 3px;*/
    height: 2.375rem;
    width: 12rem;
}

.field-small-label {
    position: absolute;
    top:0;
    left: 0;
    translate: 0.625rem 0.625rem;
    /* FuelType */
    color: #252525;
    background-color: #ffffff;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
    background-color 250ms,
    border-bottom-color 250ms;
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    /*display: block;*/
    /*margin-top: 10px;*/
    /*margin-left: 6.5rem;*/
}

.field-small:focus-within label,
.field-small:not(:has(:placeholder-shown))
label {
    translate: 0.625rem -1rem;
    font-size: 16px;
    font-weight: normal;
    user-focus-pointer: true;
    border-radius: 2px;
    /*background-color: #234465;*/
    /*color: #282828;*/
    color: #030104;
}

.field-small input:focus,
.field-small input:active {
    user-focus-pointer: true;
    border: 2px solid #3aa2b0;
    /*border-radius: 2px;*/
    /*background-color: #234465;*/
    /*color: #282828;*/

}

.field-small::placeholder {
    color: #FFFFFF;
}

#large-text {
    width: 13rem;
    height: 2rem;
    resize: vertical;
    color: #030104;
    border: 2px solid #ecebeb;
    border-radius: 6px;
}

/* Transition and label place */
.field-label {
    position: absolute;
    top:0;
    left: 0;
    translate: 0.625rem 0.625rem;
    /* FuelType */
    color: #464646;
    background-color: #ffffff;
    padding-inline: 0.25rem;
    border: 2px solid transparent;
    pointer-events: none;
    transition: translate 250ms,
                background-color 250ms,
                border-bottom-color 250ms;
    /*font-weight: bold;*/
    /*font-size: 14px;*/
    /*display: block;*/
    /*margin-top: 10px;*/
    /*margin-left: 6.5rem;*/
}

.field:focus-within label,
.field:not(:has(:placeholder-shown))
label {
    translate: 0.625rem -1rem;
    font-size: 16px;
    font-weight: normal;
    user-focus-pointer: true;
    border-radius: 2px;
    /*background-color: #234465;*/
    /*color: #282828;*/
    color: #030104;
}

.field input:focus,
.field input:active {
    user-focus-pointer: true;
    border: 2px solid #3aa2b0;
    /*border-radius: 2px;*/
    /*background-color: #234465;*/
    /*color: #282828;*/

}

.field::placeholder {
    color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}




.button {

}

#refuel-button {
    margin-top: 24px;
    margin-left: 7rem;
    display: block;
    width: 8.75rem;
    height: 1.875rem;
}
#login-button {
    margin-top: 3rem;
    margin-left: 7rem;
    display: block;
    width: 8.75rem;
    height: 1.875rem;
}

#add-car-button {
    /*margin-top: 3rem;*/
    /*margin-left: 7rem;*/

    display: block;
    width: 8.75rem;
    height: 1.875rem;
}

.label-and-button-container {

}

.stats-repairs-container {
    display: flex;
    background-color: #ecebeb;
    margin-top: 4px;
    padding: 2px;
    border-radius: 4px;
}

.repairs-card {
    display: table-column;
    height: 4.5rem;
    background-color: rgba(70, 70, 70, 0.11);
    /*background-color: #5E00FF;*/
    border-radius: 2px;

}

.parts-repairs {
    font-size: 12px;
    height: 1rem;
    width: 16.8rem;
    border-radius: 3px;
    background-color: #234465;
}

.repair-cost-small {
    float: right;
}

.car-img-and-parts-container {
    display: flex;
    /*background-color: rgba(27, 215, 150, 0.85);*/
    width: 22.5rem;
    height: 3.5rem;
}

.part-img-small-container {
    width: 4.5rem;
    height: 3.5rem;
    /*background-color: #5E00FF;*/
}

.part-image-small {
    width: 4.3rem;
    height: 4.3rem;
    /*border-radius: 4px;*/
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
}

.parts-list-container {
    /*background-color: #10e8ad;*/
    width: 12.2rem;
    height: 3.3rem;
    padding: 2px;
}


.stat-small {

    font-size: 12px;
    background-color: #d97f3b;
    border-radius: 8px;
    border: 2px solid #d97f3b;
    padding-left: 1px ;
    padding-right: 1px;
}

.location-image-container {
    padding-left: 2px;
    height: 4.5rem;
    width: 5.6rem;
}

.location-image {
    border-radius: 2px;
    height: 4.375rem;
    width: 5.475rem;
    margin: 1px 2px 2px 2px;
}

h1 {
    margin-left: 1rem;
}

h2 {
    margin-left: 1rem;
}

h4 {
    color: #282828;
}

h5 {
    color: #282828;
}

h6 {
    color: #282828;
}

.warning-container {
    padding-top: 0.3rem;
}

.warning-notification {
    height: 1.5rem;
    margin-bottom: 0.3rem;
    padding-left: 10px;
    border: 2px solid #ecebeb;
    border-radius: 12px;
    background-color: rgba(70, 70, 70, 0.11);

}

.notifications-container {
    height: 14.3rem;
    overflow-y: scroll;
    scrollbar-gutter: both-edges;
    border-radius: 12px;
}

.warning-notification1 {
    height: 2.5rem;
    margin-bottom: 0.3rem;
    padding-left: 10px;
    border: 2px solid #ecebeb;
    border-radius: 12px;
    background-color: rgba(70, 70, 70, 0.11);

}

.warning-text {
    display: contents;
}

.current-fuel-car {
    width: 21rem;
    /*max-width: 37vh;*/
    max-width: 50rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 14px;
}

#my-chart {
    margin-top: 15px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    max-width: 270px;
    max-height: 150px;
    position: center;
    background-color: #ff0000;
}

#my-chart .canvas {
    left: 0;
    right: 0;
    top: 100%;
}

.section2 {
    /*background-color: #81a0d2;*/
}

#container {
    /*width: 270px;*/
    width: 22.8rem;
    height: 9rem;
    padding: 0;
}
#container2 {
    /*width: 270px;*/
    width: 22.8rem;
    height: 9rem;
    padding: 0;
}

#container-fuel2 {
    /*width: 270px;*/
    width: 22.8rem;
    /*height: 8.4375rem;*/
    height: 9rem;
    padding: 0;
}

#container-fuel3 {
    /*width: 270px;*/
    width: 22.8rem;
    height: 9rem;
    padding: 0;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
}

.form-column label,
.form-column input {
    display: block;
    margin-bottom: 10px;
}


#window-long-car-card {
    height: 12.9rem;
    width: 48rem;
    display: inline-flex;
    padding:  8px 12px;
}

#window-long-car-add-card {
    height: 12.9rem;
    width: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#window-full-height {
    height: 100%;
    width: 48rem;
    display: grid;

}

#after-skipped-window-small {
    margin-top: 31.6rem;
    height: 10rem;
}

#window-wide {
    height: 10rem;
    width: 48rem;
}

#window-small-fuel2 {

}

#two-sectors {
    width: 48rem;
    height: 28.175rem;
}

#after-skipped-window {
    margin-top: 31.6rem;
}
.section3 {
    /*background-color: #3b4350;*/
}

#km-traveled {
    color: #333333;
    display: block;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 120px;
}



.section4 {
    /*background-color: #111827;*/
}

.dashboard-line1{
    border-color: #f1f9ff;
    margin-right: 1rem;
}

.space-dashboard {
    height: 6.25rem;
}

.space-dashboard {
    height: 26rem;
}

.profile-small {
    display: flex;
    flex-direction: row;
}

.profile-img-small {
    margin-right: 3px;
    margin-left: 14px;
    width: 2.5rem;
    height: 2.5rem;
    position: center;
}

.profile-name {
    color: #ffffff;
    text-decoration: none;
    position: center;
    margin-top: 4px;
    margin-right: 4rem;
    max-width: 20px;
}

.logout-dash {
    margin-left: 5.875rem;
}

.top-space {
    height: 198px;
    width: 100%;
}

.car-window-sub {
    /*background-color: #5E00FF;*/
    margin-right: 0;
    display: flex;
    gap: 0.5rem;

}

.car-img-big {
    justify-content: center;
    padding: 4px;
    display: contents;
}

.car-img2 {
    border-radius: 4px;
}

.car-stats-card-garage {
    background-color: #ffffff;
    width: 28.8rem;
    color: #030104;
    border-radius: 4px;
}

.brand-model-container {
    margin-top: 20px;
    margin-left: 4px;
    gap: 4px;
}

#brand-name-medium {
    font-size: 24px;
}

#name-medium2 {
    font-size: 20px;
    min-width: 40px;
}

#preview-image {
    display: none;
    max-width: 100px;
    max-height: 100px;
}

.button {
    align-items: center;
    /*background-color: #3c1b86;*/
    background-color: #5E00FF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.button:focus {
    /*border-color: rgb(94, 0, 255);*/
    background-color: #8053ee;
    border-color: #792eff;
    box-shadow: rgba(107, 74, 255, 0.13) 0 4px 12px;
    color: rgb(255, 255, 255);
}
.button:hover {
    transform: translateY(-1px);
}

/*.button:hover {*/
/*    background-color: rgb(249, 250, 251);*/
/*    color: #111827;*/
/*}*/


.button:focus-visible {
    box-shadow: none;
}

.button:active {
    /*background-color: rgb(161, 72, 234);*/
    background-color: rgb(94, 0, 255);
    border-color: rgba(255, 255, 255, 0.34);
    box-shadow: rgb(255, 255, 255) 0 0 2px 3px inset;
    color: rgba(0, 0, 0, 0.62);
    transform: translateY(0);
}

.button-second {
    appearance: button;
    backface-visibility: hidden;
    /*background-color: #405cf5;*/
    background-color: #1d2033;
    border-radius: 6px;
    border-width: 0;
    box-shadow: #405cf5 0 0 0 3px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 12px;
    height: 1.7rem;
    line-height: 1;
    margin: 12px 0 0;
    float: right;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 7rem;
}

.button-second:disabled {
    cursor: default;
}

.button-second:active {
    background-color: #1d2033;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 1px 1px 0, rgba(0, 0, 0, .1) 0 1px 1px 0, rgba(64, 92, 245, 0.64) 0 0 0 3px;
}

.button-third {
    appearance: button;
    backface-visibility: hidden;
    /*background-color: #405cf5;*/
    background-color: #1d2033;
    border-radius: 6px;
    border-width: 0;
    box-shadow: #405cf5 0 0 0 3px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 12px;
    height: 1.4rem;
    line-height: 1;
    margin: 1px 0 0;
    float: right;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 5.5rem;
}

.button-third:disabled {
    cursor: default;
}

.button-third:active {
    background-color: #1d2033;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 1px 1px 0, rgba(0, 0, 0, .1) 0 1px 1px 0, rgba(64, 92, 245, 0.64) 0 0 0 3px;
}

/*Making the real secondary button*/

.button-secondary {
    align-items: center;
    /*background-color: #3c1b86;*/
    background-color: rgba(94, 0, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(58, 58, 58);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-secondary:hover,
.button-secondary:focus {
    /*border-color: rgb(94, 0, 255);*/
    border-color: #5E00FF;
    box-shadow: rgba(47, 0, 255, 0.13) 0 4px 12px;
    color: rgb(58, 58, 58);
}
.button-secondary:hover {
    transform: translateY(-1px);
}

/*.button:hover {*/
/*    background-color: rgb(249, 250, 251);*/
/*    color: #111827;*/
/*}*/


.button-secondary:focus-visible {
    box-shadow: none;
}

.button-secondary:active {
    /*background-color: rgb(161, 72, 234);*/
    background-color: rgba(94, 0, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.34);
    box-shadow: rgb(255, 255, 255) 0 0 2px 3px inset;
    color: rgba(0, 0, 0, 0.62);
    transform: translateY(0);
}

/*TOGGLE BUTTON*/

.toggle-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style for the content to be hidden/shown */
.content {
    display: none;
}

/* Style to show content when toggled */
.content.show {
    display: block;
}