<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Login</title>
</head>
<body>

<div class="register-container container" id="register-container">
    <div class="register-window window" id="register-window">

            <label class="login-label ">Car Maintenance</label>

            <form class="login-form" th:action="@{/users/login}"
                      th:method="post">
            <div class="field">
                <label  for="login-email" class="field-label">Email</label>
                <input  type=email id="login-email" name="email" value="teodor.p4elinski@gmail.com" placeholder="">

            </div>
            <div class="field" id="field-bigger">
                <label  for="login-password" class="field-label">Password</label>
                <input  type=password id="login-password" name="password" value="12345" placeholder="">
            </div>

            <button class="button" name="login" id="login-button">Login</button>



            </form>
        <p>Don't have an account? &nbsp; <a th:href="@{/users/register}"  > Sign in</a></p>

    </div>
</div>

<div class="container" id="register-image-container">
    <img class="register-image" th:src="@{/images/login-register-image.jpg}" alt="car_image">
</div>



</body>
</html>