<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Registration</title>
</head>
<body>
<div class="top-space">

</div>
<div class="top-space">
  <div class="window" id="refuel-window">
    <div class="field">
      <input  type=text id="first-name" placeholder="">
      <label  for="first-name" class="field-label">First Name</label>
    </div>
    <div class="field">
      <input  type=text id="last-name" placeholder="">
      <label  for="last-name" class="field-label">Last Name</label>
    </div>
    <div class="field">
      <input  type=text id="email" placeholder="">
      <label  for="email" class="field-label">Email</label>
    </div>
  </div>
</div>


</body>
</html>