<!DOCTYPE html>
<html lang="en">
<head th:include="~{fragments/head}">
    <title>Add Car</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="current-page">


    <div class="section1">


    </div>

    <div class="section2">

        <div class="window" id="window-full-height">
            <label class="window-label">Creating New Car</label>
            <form th:action="@{/cars/add}"
                    th:method="post">


            <div class="field">
                <input id="file" type="file" >
            </div>

            <div class="field">
                <input  type=text id="brand" name="brand" placeholder="">
                <label  for="brand" class="field-label">Brand</label>
            </div>

            <div class="field">
                <input type=text id="model" name="model" placeholder="">
                <label  for="model" class="field-label">Model</label>
            </div>

            <div class="field">
                <select id="month-manufactured" name="manufactureMonth" placeholder="">
                    <option value="" >-Month-</option>
                    <option value="1" >January</option>
                    <option value="2" >February</option>
                    <option value="3" >March</option>
                    <option value="4" >April</option>
                    <option value="5" >May</option>
                    <option value="6" >June</option>
                    <option value="7" >July</option>
                    <option value="8" >August</option>
                    <option value="9" >September</option>
                    <option value="10" >October</option>
                    <option value="11" >November</option>
                    <option value="12" >December</option>
                </select>
            </div>

            <div class="field">
                <select id="year-manufactured" name="manufactureYear" placeholder="">
                    <option value="" >-Year-</option>
                </select>

                <script>
                    var currentYear = new Date().getFullYear();

                    var select = document.getElementById("year-manufactured");

                    for (var year = currentYear; year >= 1901; year--) {

                        var option = document.createElement("option");

                        option.value = year;
                        option.text = year;

                        select.appendChild(option);
                    }
                </script>

            </div>


            <div class="field">
                <input type=number id="displacement" name="engineDisplacement" placeholder="">
                <label for="displacement" class="field-label">Displacement 1000</label>
            </div>


            <div class="field">
                <select id="transmission" name="transmission" placeholder="">
                    <option value="">-Transmission-</option>
                    <option th:each="transmission : ${transmission}"
                            th:text="${#strings.toLowerCase(transmission)}"
                            th:value="${transmission}">

                    </option>


                </select>

            </div>

            <div class="field">
                <input type=number id="mileage" name="mileage" placeholder="">
                <label for="mileage" class="field-label">Mileage</label>
            </div>

            <div class="field">
                <select id="engineFuel" name="fuelEngineType" placeholder="">
                    <option value="">-Fuel-</option>
                    <option th:each="engineFuel : ${engineFuel}"
                            th:text="${engineFuel}"
                            th:value="${engineFuel}">
                    </option>

                </select>

            </div>
            <div class="field">
                <button type="button" class="button-third" onclick="toggleContent()">Second Fuel</button>
            </div>

                <script>
                    function toggleContent() {
                        var content = document.getElementById("content");
                        content.classList.toggle("show");
                    }
                </script>


                <div id="content" class="content">

            <div class="field">
                <select id="fuel-type" name="fuelType" placeholder="">
                    <option value="" selected disabled>-Additional fuel-</option>
                    <option th:each="engineFuel : ${engineFuel}"
                            th:text="${engineFuel}"
                            th:value="${engineFuel}">
                    </option>

                </select>

            </div>

                </div>




                <div class="field">
                    <button type="button" class="button-third" onclick="toggleContent3()">Vignette</button>
                </div>

                <script>
                    function toggleContent3() {
                        var content = document.getElementById("vignette-form");
                        content.classList.toggle("show");
                    }
                </script>

                <div id="vignette-form" class="content">

                    <div class="field">
                        <input type=date id="inspection" name="vignetteStartDate" placeholder="">
                        <label for="inspection" class="field-label">Start Date</label>
                    </div>

                    <div class="field">
                        <input type=date id="inspection" name="vignetteExpireDate" placeholder="">
                        <label for="inspection" class="field-label">Expire Date Date</label>
                    </div>

                    <div class="field">
                        <select id="vignettePeriod" name="vignettePeriod" placeholder="">
                            <option value="">-Period-</option>
                            <option th:each="vignettePeriod : ${vignettePeriod}"
                                    th:text="${#strings.toLowerCase(vignettePeriod)}"
                                    th:value="${vignettePeriod}">
                            </option>

                        </select>

                    </div>



                </div>

                <button type="submit" class="button" id="refuel-button">Create</button>

            </form>

        </div>


    </div>

    <div class="section3">


    </div>

    <div class="section4">


    </div>
</div>


</body>
</html>