<!DOCTYPE html>
<html lang="en">
<head th:include="~{fragments/head}">
    <title>Add Car</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="current-page">


    <div class="section1">


    </div>

    <div class="section2">
        <div class="window" id="window-small">
            <label class="window-label">Fuel Price</label>
            <div id="container"></div>

        </div>


        <div class="window" id="window-long-car-card">
            <div class="car-img-big">
                <img th:src="@{/images/audi-a6.jpg}">
            </div>
        </div>
        <div class="window" id="window-long-car-card">
            <div class="car-img-big">
                <img th:src="@{/images/audi-a6.jpg}">
            </div>
        </div>
        <div class="window" id="window-small">
        </div>

    </div>

    <div class="section3">
        <div class="window" id="window-small">
<!--            <label class="window-label">Kilometers traveled</label>-->
<!--            <label id="km-traveled">14025</label>-->
        </div>


        <div class="window" id="after-skipped-window-small">
            <div>
            </div>
        </div>
    </div>

    <div class="section4">


    </div>
</div>


</body>
</html>