<!DOCTYPE html>
<html lang="en">
<head th:include="~{fragments/head}">
    <title>Add Car</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="current-page">


    <div class="section1">


    </div>

    <div class="section2">





        <div class="window" id="window-full-height">
            <label class="window-label">Creating New Car</label>
            <div class="field">
                <input id="file" type="file" >
            </div>

            <div class="field">
                <input  type=text id="brand" placeholder="">
                <label  for="brand" class="field-label">Brand</label>
            </div>

            <div class="field">
                <input  type=text id="model" placeholder="">
                <label  for="model" class="field-label">Model</label>
            </div>

            <div class="field">
                <select id="year-manufactured" name="year-manufactured" placeholder="">
                    <option value="">Year</option>
                    <option value="">2027</option>
                    <option value="">2026</option>
                    <option value="">2025</option>
                    <option value="">2024</option>
                    <option value="">2023</option>
                    <option value="">2022</option>
                    <option value="">2021</option>
                    <option value="">2020</option>
                    <!--                    <option th:each="fuel : ${fuels}"-->
<!--                            th:text="${fuel}"-->
<!--                            th:value="${fuel}">-->
<!--                    </option>-->

                </select>

            </div>


            <div class="field">
                <input type=number id="displacement" placeholder="">
                <label for="displacement" class="field-label">Displacement (1.8L)</label>
            </div>


            <div class="field">
                <select id="fuel-type" name="fuel-type" placeholder="">
                    <option value="">Transmission</option>
                    <option value="">Manual</option>
                    <option value="">Automatic</option>
                    <option value="">Semi-automatic</option>

                </select>

            </div>

            <div class="field">
                <input type=number id="mileage" placeholder="">
                <label for="mileage" class="field-label">Mileage</label>
            </div>

            <div class="field">
                <select id="fuel-type" name="fuel-type" placeholder="">
                    <option value="">Fuel</option>
                    <option value="">Petrol</option>
                    <option value="">LPG</option>
                    <option value="">CNG</option>
                    <option value="">Diesel</option>
                    <option value="">Electric</option>
                    <option value="">Other</option>

                </select>

            </div>

            <div class="field">
                <input type=radio id="radio-button" placeholder="">
                <label for="displacement" class="field-label">Add fuel</label>
            </div>

            <div class="field">
                <select id="fuel-type" name="fuel-type" placeholder="">
                    <option value="">Additional fuel</option>
                    <option value="">Petrol</option>
                    <option value="">LPG</option>
                    <option value="">CNG</option>
                    <option value="">Diesel</option>
                    <option value="">Electric</option>
                    <option value="">Other</option>

                </select>

            </div>

            <div class="field">
                <input type=radio id="radio-button" placeholder="">
                <label for="displacement" class="field-label">Add Technical inspection</label>
            </div>

            <div class="field">
                <input type=date id="inspection" placeholder="">
                <label for="inspection" class="field-label">Technical inspection expire date</label>
            </div>

            <div class="field">
                <input type=radio id="radio-button" placeholder="">
                <label for="displacement" class="field-label">Add Vignette</label>
            </div>

            <div class="field">
                <input type=date id="inspection" placeholder="">
                <label for="inspection" class="field-label">Start Date</label>
            </div>

            <div class="field">
                <input type=date id="inspection" placeholder="">
                <label for="inspection" class="field-label">Expire Date Date</label>
            </div>

            <div class="field">
                <select id="fuel-type" name="vignette-period" placeholder="">
                    <option value="">Period</option>
                    <option value="">Weekend</option>
                    <option value="">Week</option>
                    <option value="">Month</option>
                    <option value="">Year</option>
                    <option value="">One time</option>
                    <option value="">Other</option>

                </select>

            </div>




        </div>


    </div>

    <div class="section3">


    </div>

    <div class="section4">


    </div>
</div>


</body>
</html>