<!DOCTYPE html>
<html lang="en">
<head th:include="~{fragments/head}">
    <title>Car Details</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="current-page">


    <div class="section1">
        <div class="label-container">
            <h2 class="label">Car Details</h2>
        </div>
        <div class="window">
            <div class="car-img-big">
                <img class="car-img2" th:src="@{/images/audi-a6.jpg}">
            </div>
        </div>
        <div class="window">
            <div class="purple-block" id="oil-details">
                <img class="img2" src="https://images.thdstatic.com/productImages/cf569948-a0c4-4d2c-a361-317d9b685bf3/svn/pennzoil-motor-oil-550045208-64_600.jpg">
            </div>
            <text class="item-label">5W-30</text>
            <p class="item-label">dasdasda sasdasd asdasdasd aasdasdasd wadsd wasdwas dasdwasdwa sdasd</p>

        </div>

        <div class="window-small" id="tires-window">
            <text class="item-label">Current tires</text>
            <div class="tires-container">
                <img class="img3" src="https://cdn.discounttire.com/sys-master/images/hc2/hbf/9837017923614/PRODUCT_tire_bfgoodrich_trail_terrain_ta-bsw_1000_side.jpg_dt-product-default-format_t-product-Medium.jpg">
                <img class="img3" src="https://cdn.discounttire.com/sys-master/images/hc2/hbf/9837017923614/PRODUCT_tire_bfgoodrich_trail_terrain_ta-bsw_1000_side.jpg_dt-product-default-format_t-product-Medium.jpg">
                <img class="img3" src="https://cdn.discounttire.com/sys-master/images/hc2/hbf/9837017923614/PRODUCT_tire_bfgoodrich_trail_terrain_ta-bsw_1000_side.jpg_dt-product-default-format_t-product-Medium.jpg">
                <img class="img3" src="https://cdn.discounttire.com/sys-master/images/hc2/hbf/9837017923614/PRODUCT_tire_bfgoodrich_trail_terrain_ta-bsw_1000_side.jpg_dt-product-default-format_t-product-Medium.jpg">
            </div>

        </div>

    </div>

    <div class="section2">
        <div class="window" id="window-small">
        </div>


        <div class="window" id="window-long-car-card">

        </div>
        <div class="window" id="window-long-car-card">

        </div>


        <div class="window-small" id="consumables">
            <div class="purple-block">Brakes</div>
            <div class="purple-block">Wiper Fluid</div>
            <div class="purple-block">Oil Filter</div>
            <div class="purple-block">Tires</div>
            <div class="purple-block">Wipers</div>

        </div>

    </div>

    <div class="section3">
        <div class="window" id="window-small">
            <!--            <label class="window-label">Kilometers traveled</label>-->
            <!--            <label id="km-traveled">14025</label>-->
        </div>


        <div class="window" id="after-skipped-window-small">

            <div class="purple-block">Battery</div>
            <div class="purple-block">Antifreeze</div>

        </div>

    </div>

    <div class="section4">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>

        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>
</div>


</body>
</html>