<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head}">
    <title>Page title</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>


<div class="current-page">
        <div class="label-container">
            <h1 class="label">Share and Compare</h1>
        </div>
        <!--    <div class="window">-->
        <!--      <div>-->
        <!--        <label class="window-label">Recommend Shops and Services <br> &nbsp that have satisfied you</label>-->

        <!--        <h5>Community coming soon...</h5>-->
        <!--&lt;!&ndash;        <canvas id="my-chart" ></canvas>&ndash;&gt;-->
        <!--      </div>-->
        <!--    </div>-->
        <!--    <div class="window" >-->
        <!--    </div>-->

        <!--    <div class="window" id="window-small">-->
        <!--    </div>-->


    <div class="center-section-community">

        <div class="label-container">
            <!--      <h5 class="label">Search</h5>-->
            <div class="field" id="field-search">
                <input id="file" type="search" placeholder="Search">
            </div>
            <button>Search</button>
        </div>



<!--            COMMUNITY-->



            <div class="window-long-car-card" th:each="cars : ${allCars.getContent()}"
                 th:object="${cars}">

                <div class="car-img-big">
                    <img th:if="${cars.image != null}" class="car-img-public" th:src="@{${cars.image}}">


                    <div class="car-img-big">
                        <img th:if="${cars.image == null}" class="car-img-public" th:src="@{/images/defaultcar.jpg}">
                    </div>


                    <div>
                        <label th:text="${cars.brand} + ' '  + ${cars.model}" class="window-label">Car Card Here</label>

                        <!--          <h5 >Brand</h5>-->
                        <!--          <h5 >Model</h5>-->


                        <!--        <canvas id="my-chart" ></canvas>-->
                    </div>
                </div>

            </div>

        </div>


    </div>



</body>
</html>