body {
    background-image: url('/static/images/Car1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: inherit;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
}


.navbar {
    display: flex;
    flex-direction: row;
    /*background-color: #111827;*/
    margin-left: 100px;
    margin-right: 100px;
    justify-content: inherit;
    text-align: center;
}


.button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 213, 219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-color: rgb(249, 250, 251);
}

.button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button:focus-visible {
    box-shadow: none;
}

.logo-container {

}

.logo {
    margin-top: 3px;
    max-width: 47px;
    border-radius: 4px;
}

.all-cars-button ,.login-button, .register-button {
        margin-left: 40px;
        margin-top: 3px;
}

.login-button {
    margin-left: auto;
}
.register-button {
    /*Only add if navbar is correct length*/
}

.login {

}

.login-link {
}


#my-chart {

    position: center;
    background-color: #ffffff;
    border-radius: 14px;
}

#my-chart .line {

}

#chart-container {
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border-radius: 14px;
}


#upper-part {
    padding-top: 45px;
    flex-direction: row;
    max-width: 800px;
    width: 100%;
    position: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.space-between {
    padding-top: 160px;
    padding-bottom: 20px;
    position: center;
    text-align: center;
}

.table-label {
    position: center;
    padding-right: 75px;
    font-size: 21px;
    font-weight: normal;
}

.cards-labels-container {
    padding-left: 75px;
}


.car-table { /* plane*/
    background: #ffffff;
    border: 1px solid #ecebeb;
    padding: 1%;
    width: 70%;
    margin: 20px auto;
    border-radius: 24px;
}

.table-head {
    /*width: 300px;*/
}

.table-row {
    background-color: #ffffff;
}

.photo-label {
    margin: auto;
    width: 200px;
}

.card-container {
    padding-left: 75px;
    padding-top: 5px; /* space between car cards */
    display: block;
}

.card {
    background-color: #ffffff;
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14px;
    border-shadow: 0 1px 3px 0 rgba(0, 0, 0, .11);
    margin-bottom: 3px;
    /*max-height: 150px;*/
}

.card-img-container {
    padding-top: 6px;
    padding-left: 5px;
    padding-bottom: 6px;
    width: 100%;
    margin-right: auto;
}

.car-image {
    display: flex;
    position: center;
    width: 200px;
    height: 140px;
    border-radius: 14px;
}

.car-stats {
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 75px;
    padding-top: 10px;
    /*margin-left: 30px; !* car stats box *!*/
    /*margin-right: 5px;*/
    /*width: 600px;*/
    margin: 7px 10px 10px 20px;
    width: 70%;
}

.car-stats span {
    /*padding-right: 10px;*/
    background-color: #ffffff;
}

.brand-stat {
    max-width: 150px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;

}

/*.model-stat {*/
/*    max-width: 100px;*/
/*    display: inline-block;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*    background-color: #234465;*/
/*}*/

.year-stat {
    max-width: 100px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}

.fuel-stat {
    max-width: 100px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}

.engine-stat{
    max-width: 100px;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
}

.small-button-container {
    margin: 1px 7px 10px auto;

}

.small-button {
    max-width: 25px;
    max-height: 25px;
    margin-top: 10px;
}
