<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head}">
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="current-page">
<div class="section1">
    <div class="label-container">
        <h1 class="label">All User Expenses</h1>
    </div>
    <div class="window">
        <div>
            <label class="window-label">Current Car</label>
            <img class="current-fuel-car" th:src="@{/images/Audi-A3.jpg}">
        </div>
    </div>

    <div class="window" id="window-mid">
        <div class="label-and-button-container">
            <label class="window-label">Loading...</label>
        </div>
    </div>
    <div class="window" id="window-small">
    </div>
</div>

    <div class="expenses-center-container">

        <div class="expenses-table-container window" ></div>

    </div>
</div>

<div class="repairs-view-container"></div>


</body>
</html>