<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
    <title>Fuel Tracker</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>
<!--    <div th:replace="navbar :: navbar(activePage='fuel-tracker')"></div>-->


<div class="current-page">
    <div class="row1">
    </div>



    <div class="section1">
        <h1 class="label">Track Your Economy</h1>
        <div class="window">
            <div>
                <label class="window-label">Current Car</label>
                <img class="current-fuel-car" th:src="@{/images/Audi-A3.jpg}" alt="car_image">
            </div>
        </div>

        <div class="window" id="big-window">

        </div>
        <div class="window" id="window-small">
        </div>
    </div>

    <div class="section2">
        <div class="window" id="window-small">
            <label class="window-label">Petrol Prices</label>
            <div id="container"></div>
            <script>

                // anychart.onDocumentReady(function () {
                // create data set on our data
                var dataSet = anychart.data.set(getData());

                // map data for the first series, take x from the zero column and value from the first column of data set
                var firstSeriesData = dataSet.mapAs({x: 0, value: 1});

                // map data for the second series, take x from the zero column and value from the second column of data set
                var secondSeriesData = dataSet.mapAs({x: 0, value: 2});

                // create line chart
                var chart = anychart.line();

                // adding dollar symbols to yAxis labels
                chart.yAxis().labels().format('{%Value}лв');

                // turn on chart animation
                chart.animation(true);
                chart.xAxis(true);
                chart.yAxis(true);

                // turn on the crosshair
                // chart
                //     .crosshair()
                //     .enabled(true)
                //     .yLabel({ enabled: false })
                //     .yStroke(null)
                //     .xStroke('#cecece')
                //     .zIndex(99);

                // chart
                //     .yAxis()
                //     .title('The Share Price')
                //     .labels({ padding: [5, 5, 0, 5] });

                // chart.xAxis().title('Month/Day');

                // set chart title text settings

                // create first series with mapped data
                var firstSeries = chart.spline(firstSeriesData);
                // firstSeries.name('ACME Share Price');
                firstSeries.markers().zIndex(100);
                firstSeries.hovered().markers().enabled(true).type('circle').size(4);


                // create second series with mapped data
                var secondSeries = chart.spline(secondSeriesData);
                // secondSeries.name('The Competitor\'s Share Price');
                secondSeries.markers().zIndex(100);
                secondSeries.color('#2E60FF')
                secondSeries.hovered().markers().enabled(true).type('circle').size(4);

                // turn the legend on
                // chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

                // set container id for the chart
                chart.container('container');

                // initiate chart drawing
                chart.draw();

                // });

                function getData() {
                    return [
                        ['Jan 2023', , 2.65],
                        ['Feb 2023', , 2.62],
                        ['Mar 2023', , 2.59],
                        ['Apr 2023', , 2.56],
                        ['May 2023', , 2.57],
                        ['Jun 2023', , 2.55],
                        ['Jul 2023', , 2.56],
                        ['Aug 2023', , 2.66],
                        ['Sep 2023', , 2.79],
                        ['Oct 2023', , 2.87],
                        ['Nov 2023', , 2.81],
                        ['Dec 2023', , 2.75]
                    ];
                }

            </script>
        </div>

        <div class="window" id="refuel-window">

            <label class="window-label">Charging</label>

            <form id="refuel-form" th:action="@{/fuel-tracker}" th:method="post">

            <button class="button-second" id="add-trip-name" onclick="toggleTripName()">Add Trip Name</button>

            <script>
                function toggleTripName() {
                    const content = document.getElementById("trip-form");
                    content.classList.toggle("show");
                }
            </script>

            <div id="trip-form" class="content">

<!--            REFUEL Form-->
<!--            <form id="refuel-form" th:action="@{/car/refuel}"-->
<!--                  th:method="post">-->
            <div class="field">
                <input  type=text id="trip-name" placeholder="">
                <label  for="trip-name" class="field-label">Trip Name</label>
            </div>

            </div>

            <div class="field">
                <input type="number" id="kilometers" placeholder="">
                <label for="kilometers" class="field-label">Kilometers</label>
            </div>

            <div class="field">
                <input type=number id="liters" placeholder="">
                <label for="liters" class="field-label">Liters</label>
            </div>

            <div class="field">
                <input type=number id="price" placeholder="">
                <label for="price" class="field-label">Price</label>
            </div>

            <div class="field">
                <select id="fuel" name="fuel" placeholder="">
                    <option value="">Fuel</option>
                    <option th:each="fuel : ${fuels}"
                            th:text="${fuel}"
                            th:value="${fuel}">
                    </option>

                </select>

            </div>

            <div class="field">
                <textarea type=text id="large-text" placeholder=""></textarea>
                <label  for="large-text" class="field-label">Description</label>
            </div>

            <button  type="submit" class="button" id="refuel-button">Submit</button>
            </form>
        </div>


        <div class="window">
            <button class="button-second" id="add-trip-name">Add</button>
        </div>
    </div>

    <div class="section3">
        <div class="window" id="window-small">
            <label class="window-label">Gas Prices</label>
            <div id="container-fuel2"></div>
            <script>

                // anychart.onDocumentReady(function () {
                // create data set on our data
                var dataSet = anychart.data.set(getData());

                // map data for the first series, take x from the zero column and value from the first column of data set
                var firstSeriesData = dataSet.mapAs({x: 0, value: 1});

                // map data for the second series, take x from the zero column and value from the second column of data set
                var secondSeriesData = dataSet.mapAs({x: 0, value: 2});

                // create line chart
                var chart = anychart.line();

                // adding dollar symbols to yAxis labels
                chart.yAxis().labels().format('{%Value}лв');

                // turn on chart animation
                chart.animation(true);
                chart.xAxis(true);
                chart.yAxis(true);

                // turn on the crosshair
                // chart
                //     .crosshair()
                //     .enabled(true)
                //     .yLabel({ enabled: false })
                //     .yStroke(null)
                //     .xStroke('#cecece')
                //     .zIndex(99);

                // chart
                //     .yAxis()
                //     .title('The Share Price')
                //     .labels({ padding: [5, 5, 0, 5] });

                // chart.xAxis().title('Month/Day');

                // set chart title text settings

                // create first series with mapped data
                var firstSeries = chart.spline(firstSeriesData);
                // firstSeries.name('ACME Share Price');
                firstSeries.markers().zIndex(100);
                firstSeries.hovered().markers().enabled(true).type('circle').size(4);


                // create second series with mapped data
                var secondSeries = chart.spline(secondSeriesData);
                // secondSeries.name('The Competitor\'s Share Price');
                secondSeries.markers().zIndex(100);
                secondSeries.color('#00AEFF')
                secondSeries.hovered().markers().enabled(true).type('circle').size(4);

                // turn the legend on
                // chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

                // set container id for the chart
                chart.container('container-fuel2');

                // initiate chart drawing
                chart.draw();

                // });

                function getData() {
                    return [
                        ['Jan 2023', , 1.18],
                        ['Feb 2023', , 1.18],
                        ['Mar 2023', , 1.21],
                        ['Apr 2023', , 1.19],
                        ['May 2023', , 1.09],
                        ['Jun 2023', , 0.96],
                        ['Jul 2023', , 0.87],
                        ['Aug 2023', , 0.89],
                        ['Sep 2023', , 1.16],
                        ['Oct 2023', , 1.20],
                        ['Nov 2023', , 1.21],
                        ['Dec 2023', , 1.23]
                    ];
                }

            </script>
        </div>
        <div class="window">
            <label class="window-label"></label>




        </div>
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
    </div>

<!--    RIGHTEST SECTION-->
    <div class="section4">

        <div class="window" id="window-small">
            <label class="window-label">Diesel Prices</label>
            <div id="container-fuel3"></div>
            <script>

                // anychart.onDocumentReady(function () {
                // create data set on our data
                var dataSet = anychart.data.set(getData());

                // map data for the first series, take x from the zero column and value from the first column of data set
                var firstSeriesData = dataSet.mapAs({x: 0, value: 1});

                // map data for the second series, take x from the zero column and value from the second column of data set
                var secondSeriesData = dataSet.mapAs({x: 0, value: 2});

                // create line chart
                var chart = anychart.line();

                // adding dollar symbols to yAxis labels
                chart.yAxis().labels().format('{%Value}лв');

                // turn on chart animation
                chart.animation(true);
                chart.xAxis(true);
                chart.yAxis(true);

                // turn on the crosshair
                // chart
                //     .crosshair()
                //     .enabled(true)
                //     .yLabel({ enabled: false })
                //     .yStroke(null)
                //     .xStroke('#cecece')
                //     .zIndex(99);

                // chart
                //     .yAxis()
                //     .title('The Share Price')
                //     .labels({ padding: [5, 5, 0, 5] });

                // chart.xAxis().title('Month/Day');

                // set chart title text settings

                // create first series with mapped data
                var firstSeries = chart.spline(firstSeriesData);
                // firstSeries.name('ACME Share Price');
                firstSeries.markers().zIndex(100);
                firstSeries.hovered().markers().enabled(true).type('circle').size(4);


                // create second series with mapped data
                var secondSeries = chart.spline(secondSeriesData);
                // secondSeries.name('The Competitor\'s Share Price');
                secondSeries.markers().zIndex(100);
                secondSeries.color('#5E00FF')
                secondSeries.hovered().markers().enabled(true).type('circle').size(4);

                // turn the legend on
                // chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

                // set container id for the chart
                chart.container('container-fuel3');

                // initiate chart drawing
                chart.draw();

                // });

                function getData() {
                    return [
                        ['Jan 2023', , 3.03],
                        ['Feb 2023', , 2.96],
                        ['Mar 2023', , 2.87],
                        ['Apr 2023', , 2.75],
                        ['May 2023', , 2.61],
                        ['Jun 2023', , 2.47],
                        ['Jul 2023', , 2.45],
                        ['Aug 2023', , 2.58],
                        ['Sep 2023', , 2.79],
                        ['Oct 2023', , 2.89],
                        ['Nov 2023', , 2.88],
                        ['Dec 2023', , 2.80]
                    ];
                }

            </script>
        </div>

        <div class="window" id="window-smaller">
            <div>
                <label class="window-label">Kilometers traveled</label>
                <label id="km-traveled">14025 km</label>
            </div>
        </div>

        <div class="window" id="window-smaller">
            <label class="window-label">Kilometers travelled this month</label>
            <label id="km-traveled">560 km</label>
        </div>

        <div class="window">
        </div>

        <div class="window" id="window-small">
        </div>

    </div>
</div>


</body>
</html>