<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="../static/css/custom.css">

</head>

<body>

<div>
    <header class="navbar">
        <div class="logo-container">
            <a href="index-old.html"> <img class="logo" src="/static/images/logo.png" alt="Logo"> </a>
        </div>
        <div class="all-cars-button">
            <a href="all-cars.html"> <button class="button">All Cars</button></a>
        </div>
        <div class="my-garage-button">
            <a href="home-old.html"> <button class="button">My Garage</button></a>
        </div>
        <div class="login-button">
            <a class="login-link" href="home-old.html"> <button class="button">Login</button></a>
        </div>
        <div class="register-button">
            <a class="register-link" href="home-old.html"> <button class="button" >Register</button></a>
        </div>
    </header>
</div>

<div id="upper-part" >
    <div id="chart-container">
    <canvas id="my-chart" ></canvas>
    </div>
</div>

<script>
    const xValues = ['January','February', 'March', 'April', "May", "June", "July", "August", "September", "October", "November", "December"];

    const yPetrol = [2.65,2.62,2.59,2.56,2.57,2.55,2.56,2.66,2.79,2.87, 2.81 ,2.75];

    const yGas = [1.18,1.18,1.21,1.19,1.09,0.96,0.87,0.89,1.16,1.20, 1.21 ,1.23];

    const yCNG = [3.38,3.73,3.17,2.72,2.55,2.22,1.98,2.00,2.01,2.04, 2.05 ,2.31];

    const yDiesel = [3.03,2.96,2.87,2.75,2.61,2.47,2.45,2.58,2.79,2.89, 2.88 ,2.80];

    new Chart("my-chart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: 'A95',
                fill: false,
                // lineTension: 0.3,
                backgroundColor: "rgb(255,89,0)",
                borderColor: "rgba(255,0,21,0.65)",
                data: yPetrol
            },
                {
                    label: 'Autogas (LPG)',
                    fill: false,
                    // lineTension: 0.3,
                    backgroundColor: "rgb(123,255,0)",
                    borderColor: "rgba(162,255,0,0.65)",
                    data: yGas
                },
                {
                    label: 'Natural gas (CNG)',
                    fill: false,
                    // lineTension: 0.3,
                    backgroundColor: "rgb(91,238,187)",
                    borderColor: "rgb(10,255,219)",
                    data: yCNG
                },
                {
                    label: 'Diesel',
                    fill: false,
                    // lineTension: 0.3,
                    backgroundColor: "rgb(3,0,0)",
                    borderColor: "rgb(13,33,114)",
                    data: yDiesel
                }

                ]
        },
        options: {
            legend: {display: false},
            scales: {
                xAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0,0)"
                    }

                }],
                yAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0,0)"
                        }
                    }]
                }

            }

    });
</script>

<div id="label-table" class="space-between"></div>
<div class="cards-labels-container">
    <table class="car-table">
        <thead class="table-head">
        <tr class="table-row">
            <th class="table-label">My Vehicles</th>
        </tr>
        </thead>
    </table>
</div>

<div class="cards-section">
    <div class="card-container">
        <div class="card">
            <div>
                <div class="card-img-container">
                <img class="car-image" src="/static/images/opel-zafira.jpg" alt="Car photo">
                </div>
            </div>

            <p class="car-stats">
                <span class="brand-stat">Opel Zafira</span>
                <span class="year-stat">2008</span>
                <span class="fuel-stat">CNG</span>
                <span class="engine-stat">1.6L</span>
            </p>

            <div class="small-button-container">
                <a href="home-old.html"> <img class="small-button" src="/static/images/pencil.png" alt="EditIcon"> </a>
            </div>
        </div>


    </div>
    <div class="card-container">
        <div class="card">
            <div>
                <div class="card-img-container">
                    <img class="car-image" src="/static/images/audi-a6.jpg" alt="Car photo">
                </div>
            </div>

            <p class="car-stats">
                <span class="brand-stat">Audi A6</span>
                <span class="year-stat">2015</span>
                <span class="fuel-stat">Petrol</span>
                <span class="engine-stat">2.0L</span>
            </p>
            <div class="small-button-container">
                <a href="home-old.html"> <img class="small-button" src="/static/images/pencil.png" alt="EditIcon"> </a>
            </div>
        </div>

    </div>
    <div class="card-container">
        <div class="card">
            <div>
                <div class="card-img-container">
                    <img class="car-image" src="/static/images/skoda-octavia.jpg" alt="Car photo">
                </div>
            </div>

            <p class="car-stats">
                <span class="brand-stat">Skoda Octavia</span>
                <span class="year-stat">2019</span>
                <span class="fuel-stat">Petrol</span>
                <span class="engine-stat">2.0L</span>
            </p>
            <div class="small-button-container">
                <a href="home-old.html"> <img class="small-button" src="/static/images/pencil.png" alt="EditIcon"> </a>
            </div>
        </div>

    </div>
</div>

</body>
</html>