<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/custom.css">
    <title>CarMaintainTracker</title>
</head>
<body>


<div>
  <header class="navbar">
    <div class="logo-container">
      <a href="home-old.html"> <img class="logo" src="/static/images/logo.png" alt="Logo"> </a>
    </div>
    <div class="all-cars-button">
      <a href="all-cars-old.html"> <button class="button">All Cars</button></a>
    </div>
    <div class="my-garage-button">
      <a href="home-old.html"> <button class="button">My Garage</button></a>
    </div>
    <div class="login-button">
      <a class="login-link" href="home-old.html"> <button class="button">Login</button></a>
    </div>
    <div class="register-button">
      <a class="register-link" href="home-old.html"> <button class="button" >Register</button></a>
    </div>
  </header>
</div>



<div class="page-label-container">
  <div class="page-label">
    <label>Car Maintenance Tracker</label>
  </div>
</div>

</body>
</html>