<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Title</title>
</head>
<body>



<div class="section1">

    <ul>
            <h2 class="site-name">Car Maintenance</h2>

        <hr>
        <div class="small-space-dashboard">

        </div>
        <li>
            <a href="index-dash.html">Home</a>
        </li>
        <li>
            <a href="index-dash.html">My Garage</a>
        </li>
        <li>
            <a href="index-dash.html">All Vehicles</a>
        </li>
        <li>
            <a href="index-dash.html">Fuel</a>
        </li>

        <div class="space-dashboard">

        </div>
        <hr class="dashboard-line1">



        <div class="profile-small">
            <img class="profile-img-small" src="/static/images/profile.png">
            <a class="profile-name" href="index-dash.html">Teodor Pchelinski</a>
        </div>


        <li>
            <a href="index-dash.html">Logout</a>
        </li>

    </ul>
</div>

<div class="section2">

</div>

<div class="section3">

</div>

<div class="section4">

</div>

</body>
</html>