<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
  <title>Maintenance</title>
</head>
<body>


  <div th:replace="~{fragments/navbar}"></div>


<div class="current-page">


<!--  First Column-->
  <div class="section1">
    <div class="label-container">
      <h2 class="label">Maintenance <br> and Repairs</h2>
    </div>
    <div class="window">
      <div>
        <label class="window-label">Current Car</label>
        <img class="current-fuel-car" th:src="@{/images/Audi-A3.jpg}">
      </div>
    </div>

    <div class="window" id="window-mid">
      <div class="label-and-button-container">
        <label class="window-label">Recent Expenses</label>
        <a th:href="@{/expenses}">See all</a>
      </div>

      <div class="repairs-container">
        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/fuel-pump.jpg}" >
              </div>
              <div class="parts-list-container">
                <span class="stat-small">fuel pump</span>
                <span class="stat-small">fuel filter</span>
                <span class="stat-small">fuel hoses</span>
              </div>
            </div>
          </div>
        </div>

        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/oil-filter.jpg}" >
              </div>
              <div class="parts-list-container">
                <span class="stat-small">oil filter</span>
                <span class="stat-small">oil</span>
                <span class="stat-small">air filter</span>
              </div>
            </div>
          </div>
        </div>

        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/brakes.jpg}" >
              </div>
              <div class="parts-list-container">
                <span class="stat-small">front discs</span>
                <span class="stat-small">front disc pads</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="window" id="window-small">
    </div>
  </div>


<!--  Second Column-->
  <div class="section2">
    <div class="window" id="window-small">
      <label class="window-label">Maintenance costs</label>
      <div id="container2"></div>
      <script>
        // create data
        var data = [
          ["Jan", 200],
          ["Feb", 300],
          ["Mar", 130],
          ["Apr", 100],
          ["May", 170],
          ["Jun", 90],
          ["Jul", 190],
          ["Aug", 190],
          ["Sep", 190],
          ["Oct", 190],
          ["Nov", 190],
          ["Dec", 190]
        ];


        chart = anychart.column();
        chart.yAxis().labels().format('{%Value}лв');

        var series = chart.column(data);

        chart.animation(true);
        series.color('#00AEFF');
        chart.container("container2");
        chart.draw();
      </script>

    </div>

    <div class="window" id="two-sectors">

      <label class="window-label" id="add-repair-label">Add Repair or Change</label>


      <div class="form-container" id="parts-container">

        <div class="form-column">

          <div class="field">
            <input type=text id="part-name" list="parts" placeholder="Repair">
            <label for="part-name" class="field-label">Repair title</label>
            <datalist id="parts">
            </datalist>
          </div>

          <div class="field" id="small-date-field">
            <input type=date id="small-date" placeholder="">
<!--            <label for="part-name" class="field-label" id="small-date-label">Date</label>-->
          </div>

        </div>

<!--        FIRST COLUMN-->
        <div class="form-column">

          <div class="field">
            <input type=text id="part-name" list="parts" placeholder="">
            <label for="part-name" class="field-label">Part name</label>
            <datalist id="parts">
            </datalist>
          </div>

<!--          <button class="button-second" id="add-trip-name">Add another part</button>-->

          <div class="field-small" id="part-price-field">
            <input type=number id="part-name" placeholder="">
            <label for="part-name" class="field-small-label">price</label>
          </div>


<!--        Quantity-->
          <div class="field" id="quantity-field">
           <select id="quantity" name="quantity" placeholder="">
            <option>x1</option>
            <option >x2</option>
             <option >x3</option>
             <option >x4</option>
             <option >x5</option>
             <option >x6</option>
             <option >x7</option>
             <option >x8</option>
           </select>
          </div>

        </div>

        <div class="form-column">

          <button class="add-part-button" id="add-partBtn" onclick="addPart()" >+ Add part</button>

          <script>

            const addButton = document.getElementById('add-partBtn')



          </script>


        </div>

        <hr class="dashboard-line1">

        <div class="form-column">

          <button class="add-part-button" id="show-car-service-fields" onclick="showCarService()" >Add Car Service ▼</button>

        </div>

        <div class="form-column" id="service-form-container" >


          <div class="field">
            <input type=text id="part-name" placeholder="">
            <label for="part-name" class="field-label">Car Service</label>
          </div>

          <div class="field">
            <input type=text id="part-name" placeholder="">
            <label for="part-name" class="field-label">Location (map)</label>
          </div>

          <div class="field" id="repair-description-field">
            <textarea type=text id="large-text" placeholder=""></textarea>
            <label  for="large-text" class="field-label">Description</label>
          </div>

          <script>

            let originalHeight;

            window.onload = function () {
              const mainContainer = document.getElementById('two-sectors');
              originalHeight = mainContainer.clientHeight;
              mainContainer.style.height = originalHeight + 'px';
            }

            function showCarService() {

              const button = document.getElementById('show-car-service-fields');
              const container = document.getElementById('service-form-container');
              const mainContainer = document.getElementById('two-sectors');

              if (container.style.display === 'none' || container.style.display === ''){
                container.style.display = 'inline-flex';
                container.style.marginBottom = '5px';
                button.innerHTML = 'Show less ▲';
                mainContainer.style.height = (originalHeight + container.scrollHeight) + 'px';
              } else {
                container.style.display = 'none';
                button.innerHTML = 'Show Car Service ▼';
                mainContainer.style.height = originalHeight + 'px';
              }

            }


          </script>


        </div>

        <hr class="dashboard-line1">

        <div class="form-column">

          <div class="field">
            <input type=text id="part-name" placeholder="">
            <label for="part-name" class="field-label">Shop name</label>
          </div>

          <div class="field" id="shop-location-field">
            <input type=text id="part-name" placeholder="">
            <label for="part-name" class="field-label">Location (map)</label>
          </div>


        </div>

        <div class="form-column">

          <button class="button" id="refuel-button">Add</button>

          <label class="window-label" id="total-price-label">Total:</label>

          <div class="field-small" id="final-price-field">
            <input type=number id="part-name" placeholder="">
          </div>


        </div>



      </div>


    </div>


<!--    Missing Window Here!-->
<!--    <div class="window" id="window-wide">-->

<!--    </div>-->

  </div>


<!--  Third Column-->
  <div class="section3">
    <div class="window" id="window-small">
        <label class="window-label">Mileage Since Last Repair</label>
        <label id="km-traveled">4025km</label>
    </div>
  </div>



<!--  Right Last Column-->
  <div class="section4">
    <div class="window" id="window-small">
      <h5>Snow tires change date, Summer tires change date</h5>
    </div>

    <div class="window">
      <label class="window-label">Notifications:</label>

      <div class="notifications-container">
      <div class="warning-notification1">
        <h5 class="warning-text">Engine Oil</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Brakes System Check</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Piston belt</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Motor belt</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Air Filter after mileage</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Tomorrow will be 0°C. Change wiper fluid</h5>
      </div>
      </div>
    </div>

    <div class="window" id="window-small">
      <label class="window-label">Warnings:</label>


<!--      Icons for warning urgency and colors like red, orange, yellow, blue-->
      <div class="warning-container">
        <div class="warning-notification">
          <h5 class="warning-text">No vignette</h5>
        </div>

        <div class="warning-notification">
          <h5 class="warning-text">Annual technical inspection expires in 3 days</h5>
        </div>

        <div class="warning-notification">
          <h5 class="warning-text">Tires need a change (by DOT or by season)</h5>
        </div>
      </div>

    </div>

    <div class="window" id="window-small">
    </div>
  </div>
</div>


</body>
</html>