<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/head}">
  <title>Maintenance</title>
</head>
<body>


  <div th:replace="~{fragments/navbar}"></div>


<div class="current-page" id="current-page">



<!--  <div class="label-container">-->
<!--    <h2 class="label blue-text">Maintenance <br> and Repairs</h2>-->
<!--  </div>-->


  <!--  First Column-->
  <div class="section1">

    <div class="window">
      <div>
        <label class="window-label">Current Car</label>
        <img class="current-fuel-car" th:src="@{/images/Audi-A3.jpg}">




      </div>
    </div>

    <div class="window" id="window-mid">
      <div class="label-and-button-container">
        <label class="window-label blue-text">Recent Expenses</label>
        <a th:href="@{/expenses}">See all</a>
      </div>

      <div class="repairs-container">
        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/fuel-pump.jpg}" >
<!--                <img class="part-image-small" th:src="@{/images/repairs/51.jpg}" >-->
              </div>
              <div class="parts-list-container">
                <span class="stat-small">fuel pump</span>
                <span class="stat-small">fuel filter</span>
                <span class="stat-small">fuel hoses</span>
              </div>
            </div>
          </div>
        </div>

        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/oil-filter.jpg}" >
              </div>
              <div class="parts-list-container">
                <span class="stat-small">oil filter</span>
                <span class="stat-small">oil</span>
                <span class="stat-small">air filter</span>
              </div>
            </div>
          </div>
        </div>

        <div class="stats-repairs-container">
          <div class="repairs-card">

            <div class="car-img-and-parts-container">
              <div class="part-img-small-container">
                <img class="part-image-small" th:src="@{/images/brakes.jpg}" >
              </div>
              <div class="parts-list-container">
                <span class="stat-small">front discs</span>
                <span class="stat-small">front disc pads</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="window" id="window-small">
    </div>
  </div>


<!--  Second Column-->
  <div class="section2" id="section2">




    <div class="window" id="two-sectors">

      <label class="window-label" id="add-repair-label">Add Repair or Change</label>

      <form th:action="@{/maintenance}"
            th:method="post"
            enctype="multipart/form-data">


      <div class="form-container" id="parts-container">



        <div class="form-column" id="form-column">

          <div class="field">
            <input type=text id="part-name" list="parts" name="repairTitle" placeholder="Repair">
            <label for="part-name" class="field-label">Repair title</label>
            <datalist id="parts">
            </datalist>
          </div>

          <div class="field">
            <input id="image-file" type="file" name="image" accept="image/*">
            <div class="image-preview" id="image-preview">
<!--              <image id="preview-image-little" src="" alt="Image Preview"></image>-->
            </div>
          </div>

<!--          <form runat="server">-->
<!--            <input accept="image/*" type='file' id="imgInp" />-->
<!--            <img id="blah" src="#" alt="your image" />-->
<!--          </form>-->

<!--          <script>-->


<!--            imgInp.onchange = evt => {-->
<!--              const [file] = imgInp.files-->
<!--              if (file) {-->
<!--                blah.src = URL.createObjectURL(file)-->
<!--              }-->
<!--            }-->

<!--          </script>-->


          <div class="field" id="small-date-field">
            <input type=date id="small-date" name="dateSelected" placeholder="">
<!--            <label for="part-name" class="field-label" id="small-date-label">Date</label>-->
          </div>

          </div>

        <div class="form-column" id="form-column">

          <div class="drop-menu" id="car-drop-menu">
            <div class="drop-menu-option" id="car-drop-menu-option">



              <select id="car-id" name="carId">
                <!--              <img class="car-img2" id="car-img-tiny" th:src="@{${cars.image}}" >-->
                <option th:each="cars : ${cars.getContent()}"
                        th:object="${cars}"
                        th:text="${cars.id} + ' ' + ${cars.brand} + ' ' + ${cars.model} + ' ' + ${cars.engineDisplacement}"
                ></option>

              </select>

            </div>

          </div>

        </div>

        <!--        FIRST COLUMN-->


        <div class="form-column" >

          <div class="field image-little-input">
            <input id="image-file-small" type="file" name="image" accept="image/*">
            <div class="image-preview" id="image-preview">
              <image id="preview-image-little" th:src="@{/images/imageDefault.png}" alt="Image Preview"></image>
            </div>
          </div>

          <div class="field">
            <input type=text  id="part-name"  name="partName1" placeholder="">
            <label for="part-name" class="field-label">Part</label>
          </div>

          <div class="field">
            <input type=text  id="part-description" list="parts-description" name="partDescription1" placeholder="brand, size...">
            <label for="part-description" class="field-label">Description</label>
            <datalist id="parts-description">
            </datalist>
          </div>

          <div class="field-small" id="part-price-field">
            <input type=number step="0.01" id="part-price1" name="partPrice1" placeholder="">
            <label for="part-name" class="field-small-label">price</label>
          </div>

<!--        Quantity-->
          <div class="field" id="quantity-field">
           <select id="quantity1" name="partQuantity1" placeholder="">
             <option value="1" >x1</option>
             <option value="2" >x2</option>
             <option value="3" >x3</option>
             <option value="4" >x4</option>
             <option value="5" >x5</option>
             <option value="6" >x6</option>
             <option value="7" >x7</option>
             <option value="8" >x8</option>
           </select>
          </div>

        </div>

          <div class="form-column" >

            <div class="field image-little-input">
              <input id="image-file-small" type="file" name="image" accept="image/*">
              <div class="image-preview" id="image-preview">
                <image id="preview-image-little" th:src="@{/images/imageDefault.png}" alt="Image Preview"></image>
              </div>
            </div>

            <div class="field">
              <input type=text  id="part-name" list="parts" name="partName2" placeholder="">
              <label for="part-name" class="field-label">Part</label>
              <datalist id="parts">
              </datalist>
            </div>

            <div class="field">
              <input type=text  id="part-description" list="parts-description" name="partDescription2" placeholder="brand, size...">
              <label for="part-description" class="field-label">Description</label>
              <datalist id="parts-description">
              </datalist>
            </div>

            <div class="field-small" id="part-price-field">
              <input type=number step="0.01" id="part-price2" name="partPrice2" placeholder="">
              <label for="part-name" class="field-small-label">price</label>
            </div>

            <!--        Quantity-->
            <div class="field" id="quantity-field">
              <select id="quantity2" name="partQuantity2" placeholder="">
                <option value="1" >x1</option>
                <option value="2" >x2</option>
                <option value="3" >x3</option>
                <option value="4" >x4</option>
                <option value="5" >x5</option>
                <option value="6" >x6</option>
                <option value="7" >x7</option>
                <option value="8" >x8</option>
              </select>
            </div>

          </div>

          <div class="form-column" >

            <div class="field image-little-input">
              <input id="image-file-small" type="file" name="image" accept="image/*">
              <div class="image-preview" id="image-preview">
                <image id="preview-image-little" th:src="@{/images/imageDefault.png}" alt="Image Preview"></image>
              </div>
            </div>

            <div class="field">
              <input type=text  id="part-name" list="parts" name="partName3" placeholder="">
              <label for="part-name" class="field-label">Part</label>
              <datalist id="parts">
              </datalist>
            </div>

            <div class="field">
              <input type=text  id="part-description" list="parts-description" name="partDescription3" placeholder="brand, size...">
              <label for="part-description" class="field-label">Description</label>
              <datalist id="parts-description">
              </datalist>
            </div>

            <div class="field-small" id="part-price-field">
              <input type=number step="0.01" id="part-price3" name="partPrice3" placeholder="">
              <label for="part-name" class="field-small-label">price</label>
            </div>

            <!--        Quantity-->
            <div class="field" id="quantity-field">
              <select id="quantity3" name="partQuantity3" placeholder="">
                <option value="1" >x1</option>
                <option value="2" >x2</option>
                <option value="3" >x3</option>
                <option value="4" >x4</option>
                <option value="5" >x5</option>
                <option value="6" >x6</option>
                <option value="7" >x7</option>
                <option value="8" >x8</option>
              </select>
            </div>

          </div>

          <div class="form-column" >

            <div class="field image-little-input">
              <input id="image-file-small" type="file" name="image" accept="image/*">
              <div class="image-preview" id="image-preview">
                <image id="preview-image-little" th:src="@{/images/imageDefault.png}" alt="Image Preview"></image>
              </div>
            </div>

            <div class="field">
              <input type=text  id="part-name" list="parts" name="partName4" placeholder="">
              <label for="part-name" class="field-label">Part</label>
              <datalist id="parts">
              </datalist>
            </div>

            <div class="field">
              <input type=text  id="part-description" list="parts-description" name="partDescription4" placeholder="brand, size...">
              <label for="part-description" class="field-label">Description</label>
              <datalist id="parts-description">
              </datalist>
            </div>

            <div class="field-small" id="part-price-field">
              <input type=number step="0.01" id="part-price4" name="partPrice4" placeholder="">
              <label for="part-name" class="field-small-label">price</label>
            </div>

            <!--        Quantity-->
            <div class="field" id="quantity-field">
              <select id="quantity4" name="partQuantity4" placeholder="">
                <option value="1" >x1</option>
                <option value="2" >x2</option>
                <option value="3" >x3</option>
                <option value="4" >x4</option>
                <option value="5" >x5</option>
                <option value="6" >x6</option>
                <option value="7" >x7</option>
                <option value="8" >x8</option>
              </select>
            </div>

          </div>


        <script>

          document.addEventListener('DOMContentLoaded', function () {

            const num1 = document.getElementById('part-price1');
            const num2 = document.getElementById('part-price2');
            const num3 = document.getElementById('part-price3');
            const num4 = document.getElementById('part-price4');

            const quantity1 = document.getElementById('quantity1');
            const quantity2 = document.getElementById('quantity2');
            const quantity3 = document.getElementById('quantity3');
            const quantity4 = document.getElementById('quantity4');

            const sum = document.getElementById('totalCost');

          function total() {

            const value1 = parseFloat(num1.value) || 0;
            const value2 = parseFloat(num2.value) || 0;
            const value3 = parseFloat(num3.value) || 0;
            const value4 = parseFloat(num4.value) || 0;

            const qty1 = parseInt(quantity1.value) || 1;
            const qty2 = parseInt(quantity2.value) || 1;
            const qty3 = parseInt(quantity3.value) || 1;
            const qty4 = parseInt(quantity4.value) || 1;

            const total = (value1 * qty1) + (value2 * qty2) + (value3 * qty3) + (value4 * qty4);
            sum.value = total.toFixed(2);

          }
            num1.addEventListener('input', total);
            num2.addEventListener('input', total);
            num3.addEventListener('input', total);
            num4.addEventListener('input', total);

            quantity1.addEventListener('change', total);
            quantity2.addEventListener('change', total);
            quantity3.addEventListener('change', total);
            quantity4.addEventListener('change', total);

          total();
          })

        </script>
<!--        <div class="form-column">-->
<!--          <button class="add-part-button" id="add-partBtn" type="button" >+ Add part</button>-->
<!--        </div>-->

        <hr class="dashboard-line1">


        <div class="form-column" id="service-form-container" >


          <div class="service-left-section">

            <div class="service-top-left">

              <div class="field">
                <input type=text id="part-name" name="serviceName" placeholder="">
                <label for="part-name" class="field-label">Car Service</label>
              </div>

              <div class="address-location-container">

                <div class="field" id="location-address">
                  <input type=text id="part-name" placeholder="">
                  <label for="part-name" class="field-label">Location (map)</label>

                </div>

<!--                <button type="button"></button>-->
              </div>

            </div>

              <div class="field" id="repair-description-field">
                <textarea class="service-description-text" type=text id="service-description-text" name="description" placeholder=""></textarea>
                <label  for="service-description-text" class="field-label">Service Description</label>
              </div>

          </div>

          <div id="map"></div>

          <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
          <script>

            var map = L.map('map').setView([42.7000, 23.3199], 11); // Set initial position and zoom level

            // Add OpenStreetMap tile layer
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);


            // Add a marker
            // L.marker([42.7164, 23.3462 ]).addTo(map)
            //         .bindPopup('CarMaintenance <br> office')
            //         .openPopup();


            var singleMarker;


            map.on('click', function(e) {
              var latitude = e.latlng.lat;
              var longitude = e.latlng.lng;

              if (singleMarker) {
                map.removeLayer(singleMarker);
              }

              singleMarker = L.marker([latitude, longitude]).addTo(map)
                      // .bindPopup('' + latitude.toFixed(5) + ', ' + longitude.toFixed(5))
                      .openPopup();


              document.getElementById('latitude').value = latitude.toFixed(5).toString();
              document.getElementById('longitude').value = longitude.toFixed(5).toString();


            });
          </script>




        </div>

        <hr class="dashboard-line2">

<!--        <div class="form-column">-->

<!--          <button class="add-part-button" id="show-repair-shop-fields" type="button" >Show Shop2 ▼</button>-->
<!--&lt;!&ndash;          ▼&ndash;&gt;-->

<!--        </div>-->

        <div class="form-column" id="shop-form-container">

          <div class="field">
            <input type=text id="part-name" name="shopName" placeholder="">
            <label for="part-name" class="field-label">Shop name</label>
          </div>

        </div>

        <hr class="dashboard-line1">

        <div class="form-column">

          <input type="hidden" typeof="string" id="latitude" name="latitude">
          <input type="hidden" id="longitude" name="longitude">

          <button class="button" id="repair-button" type="submit">Add</button>

          <label class="window-label" id="total-price-label">Total:</label>

          <div class="field-small" id="final-price-field">
            <input type=number step="0.01" id="totalCost" name="totalCost" placeholder="">
          </div>


        </div>




      </div>
        </form>

    </div>




<!--    Missing Window Here!-->
<!--    <div class="window" id="window-wide">-->

<!--    </div>-->

  </div>




<!--  Third Column-->
  <div class="section3">
<!--    <div class="window" id="window-small">-->
<!--        <label class="window-label">Mileage Since Last Repair</label>-->
<!--        <label id="km-traveled">4025km</label>-->
<!--    </div>-->
  </div>



<!--  Right Last Column-->
  <div class="section4">
    <div class="window" id="window-small">
      <h5>Snow tires change date, Summer tires change date</h5>
    </div>

    <div class="window">
      <label class="window-label">Notifications:</label>

      <div class="notifications-container">
      <div class="warning-notification1">
        <h5 class="warning-text">Engine Oil</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Brakes System Check</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Piston belt</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Motor belt</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Air Filter after mileage</h5>
      </div>
      <div class="warning-notification1">
        <h5 class="warning-text">Tomorrow will be 0°C. Change wiper fluid</h5>
      </div>
      </div>
    </div>

    <div class="window" id="window-small">
      <label class="window-label">Warnings:</label>


<!--      Icons for warning urgency and colors like red, orange, yellow, blue-->
      <div class="warning-container">
        <div class="warning-notification">
          <h5 class="warning-text">No vignette</h5>
        </div>

        <div class="warning-notification">
          <h5 class="warning-text">Annual technical inspection expires in 3 days</h5>
        </div>

        <div class="warning-notification">
          <h5 class="warning-text">Tires need a change (by DOT or by season)</h5>
        </div>
      </div>

    </div>

    <div class="window" id="window-small">
    </div>

<!--    I NEED THAT ON TOP OF THIS TEXT-->
  </div>
</div>


</body>
</html>