<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/styles.css">
  <title>My Garage</title>
</head>
<body>



<div class="section1">

  <ul>
    <h3 class="site-name">Car Maintenance</h3>

    <div class="small-space-dashboard">

    </div>
    <li>
      <a href="index-dash.html">Home</a>
    </li>
    <li>
      <a class="current" href="my-garage.html">My Garage</a>
    </li>
    <li>
      <a href="community.html">Community</a>
    </li>
    <li>
      <a href="maintenance.html">Maintenance</a>
    </li>
    <li>
      <a href="fuel-tracker.html">Fuel Tracker</a>
    </li>

    <div class="space-dashboard">

    </div>

    <div>
      <!--            to do-->
    </div>

    <hr class="dashboard-line1">



    <div class="profile-small">
      <img class="profile-img-small" src="/static/images/profile.png">
      <a class="profile-name" href="index-dash.html">Teodor Pchelinski</a>
    </div>


    <li>
      <a class="logout-dash" href="index-dash.html">Logout</a>
    </li>

  </ul>
</div>
<div class="current-page">


  <div class="section2">
    <div class="label-container">
      <h2 class="label">Welcome back, <br> Teodor Pchelinski</h2>
    </div>
    <div class="window">
      <div>
        <!--            <label class="window-label">Fuel prices</label>-->
      </div>
    </div>
    <div class="window">
    </div>

    <div class="window">
    </div>

  </div>

  <div class="section3">
    <div class="window" id="window-small">
      <label class="window-label">Fuel Price</label>
      <div id="container"></div>
      <script>

        // anychart.onDocumentReady(function () {
        // create data set on our data
        var dataSet = anychart.data.set(getData());

        // map data for the first series, take x from the zero column and value from the first column of data set
        var firstSeriesData = dataSet.mapAs({ x: 0, value: 1 });

        // map data for the second series, take x from the zero column and value from the second column of data set
        var secondSeriesData = dataSet.mapAs({ x: 0, value: 2 });

        // create line chart
        var chart = anychart.line();

        // adding dollar symbols to yAxis labels
        chart.yAxis().labels().format('${%Value}');

        // turn on chart animation
        chart.animation(true);
        chart.xAxis(true);
        chart.yAxis(false);

        // turn on the crosshair
        // chart
        //     .crosshair()
        //     .enabled(true)
        //     .yLabel({ enabled: false })
        //     .yStroke(null)
        //     .xStroke('#cecece')
        //     .zIndex(99);

        // chart
        //     .yAxis()
        //     .title('The Share Price')
        //     .labels({ padding: [5, 5, 0, 5] });

        // chart.xAxis().title('Month/Day');

        // set chart title text settings

        // create first series with mapped data
        var firstSeries = chart.spline(firstSeriesData);
        // firstSeries.name('ACME Share Price');
        firstSeries.markers().zIndex(100);
        firstSeries.hovered().markers().enabled(true).type('circle').size(4);


        // create second series with mapped data
        var secondSeries = chart.spline(secondSeriesData);
        // secondSeries.name('The Competitor\'s Share Price');
        secondSeries.markers().zIndex(100);
        secondSeries.color('#3c1b85')
        secondSeries.hovered().markers().enabled(true).type('circle').size(4);

        // turn the legend on
        // chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

        // set container id for the chart
        chart.container('container');

        // initiate chart drawing
        chart.draw();
        // });

        function getData() {
          return [
            ['Jan', , 2.65],
            ['Feb', , 2.62],
            ['Mar', , 2.59],
            ['Apr', , 2.56],
            ['May', , 2.57],
            ['Jun', , 2.55],
            ['Jul', , 2.56],
            ['Aug', , 2.66],
            ['Sep', , 2.79],
            ['Oct', , 2.87],
            ['Nov', , 2.81],
            ['Dec', , 2.75]
          ];
        }

      </script>
    </div>

    <div class="window">
    </div>
    <div class="window" id="window-small">
    </div>
    <div class="window" id="window-small">
    </div>
  </div>

  <div class="section4">
    <div class="window">
      <div>
        <label class="window-label">Kilometers traveled</label>
        <label id="km-traveled">14025</label>
      </div>
    </div>
    <div class="window" id="window-small">
    </div>

    <div class="window">
    </div>
  </div>

  <div class="section5">
    <div class="window" id="window-small">
    </div>

    <div class="window">
    </div>

    <div class="window" id="window-small">
    </div>
    <div class="window" id="window-small">
    </div>
  </div>
</div>


</body>
</html>