<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
    <title>Index-D</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>


<div class="current-page">

    <div class="section1">
        <h1>Hi,
            <th:block sec:authorize="isAuthenticated()">
                Logged in user
            </th:block>

            <th:block sec:authorize="!isAuthenticated()">
                Guest
            </th:block>
        </h1>
        <div class="window">
            <div>
                <label class="window-label">Settings:</label>
                <h6>Username:    Teodor Pchelinski</h6>
                <h6>Password:    *********</h6>

<!--                <input type="password" id="password" value="**********" onchange="this.select();" readonly>-->

                <h6>Email:       teodor.pchelinski@gmail.com</h6>


            </div>
        </div>
        <div class="window">
        </div>

        <div class="window">
        </div>

    </div>

    <div class="section2">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>

    <div class="section3">
        <div class="window">
            <div>
                <label class="window-label">Kilometers traveled</label>
                <label id="km-traveled">14025</label>
            </div>
        </div>
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
    </div>

    <div class="section4">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>

        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>
</div>


</body>
</html>