<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Index-D</title>
</head>
<body>



<div class="section1">

    <ul>
        <h3 class="site-name">Car Maintenance</h3>

        <div class="small-space-dashboard">

        </div>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="my-garage.html">My Garage</a>
        </li>
        <li>
            <a href="community.html">Community</a>
        </li>
        <li>
            <a href="maintenance.html">Maintenance</a>
        </li>
        <li>
            <a href="fuel-tracker.html">Fuel Tracker</a>
        </li>

        <div class="space-dashboard">

        </div>

        <div>
            <!--            to do-->
        </div>

        <hr class="dashboard-line1">



        <div class="profile-small" >
            <img class="profile-img-small" src="/static/images/profile.png">
            <a class="profile-name" href="profile.html">Teodor Pchelinski</a>
        </div>


        <li>
            <a class="logout-dash" href="index.html">Logout</a>
        </li>

    </ul>
</div>
<div class="current-page">

    <div class="section2">
        <h1>Hi, Teodor Pchelinski</h1>
        <div class="window">
            <div>
                <!--            <label class="window-label">Fuel prices</label>-->

            </div>
        </div>
        <div class="window">
        </div>

        <div class="window">
        </div>

    </div>

    <div class="section3">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>

    <div class="section4">
        <div class="window">
            <div>
                <label class="window-label">Kilometers traveled</label>
                <label id="km-traveled">14025</label>
            </div>
        </div>
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
    </div>

    <div class="section5">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>

        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>
</div>


</body>
</html>