<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
    <title>Index-D</title>
</head>
<body>

<div>
    <div th:replace="~{fragments/navbar}"></div>
</div>

<div class="current-page">

    <div class="section2">
        <h1>Hi, Teodor Pchelinski</h1>
        <div class="window">
            <div>
                <!--            <label class="window-label">Fuel prices</label>-->

            </div>
        </div>
        <div class="window">
        </div>

        <div class="window">
        </div>

    </div>

    <div class="section3">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>

    <div class="section4">
        <div class="window">
            <div>
                <label class="window-label">Kilometers traveled</label>
                <label id="km-traveled">14025</label>
            </div>
        </div>
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>
    </div>

    <div class="section5">
        <div class="window" id="window-small">
        </div>

        <div class="window">
        </div>

        <div class="window" id="window-small">
        </div>
        <div class="window" id="window-small">
        </div>
    </div>
</div>


</body>
</html>